@model CSMS.Models.Officer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Officer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.officer_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.officer_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.officer_email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.officer_email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.officer_emp_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.officer_emp_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.officer_password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.officer_password)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.officer_workplace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.officer_workplace)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.officer_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
