@model IEnumerable<CSMS.Models.Officer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.officer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.officer_email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.officer_emp_id)
            </th>         
            <th>
                @Html.DisplayNameFor(model => model.officer_workplace)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.officer_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officer_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.officer_emp_id)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.officer_workplace)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.officer_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.officer_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.officer_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
